# Specify Dart as the primary language
*.dart linguist-language=Dart

# Ignore other languages
*.js linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.json linguist-vendored
*.md linguist-vendored
*.lock linguist-vendored
build/* linguist-vendored
node_modules/* linguist-vendored
